@font-face {
    font-family: "passeroOne";
    src: url('../fontes/PasseroOne-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "passionOne";
    src: url('../fontes/PassionOne-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    background-color: #324E41;
    position: flex;
    width: 100%;
    top: 0;
}

header,
nav ul {
    color: #C6D5D0;
    padding: 1rem;
    font-family: passionOne;
    font-size: 30px;
    margin: 0px;
    margin-right: 50px;
    list-style-type: none;
    text-align: right;
    position: relative;
}

ul li{
    padding: 5px;
}

.logo {
    background-image: url(../imagens/menu/jungle-logo\ 2.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    left: .3em;
    top: .5em;
    width: 5em;
    height: 2em;
    margin-bottom: -10px;
}

.logo a, .logo h1{
    height: 60px;
    margin: 0;
    text-indent: 3000px;
}

ul .tab-btn {
    padding: 10px;
    border: none;
    text-align: center;
    color: #C6D5D0;
    font-size: 32px;
    cursor: pointer;
    font-family: passionOne;
    border-radius: 8px;
    background-color: #324E41;
    transition: background-color .3s ease;
}

.tab-btn.active{
    background-color: #B0D2C7;
    color: #20322A;
}

ul button:hover{
    background-color: #C6D5D0;
    color: #324E41;
}

.tab-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container{
    margin-top: 30px;
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 20em;
    width: 100%;
}

.carousel{
    display: flex;
    transition: transform .5s ease-in-out;
    transform: translateX(0);
}

.carousel img{
    object-fit: cover;
    height: 20em;
    width: 1200px;
}

.content{
    display: none;
}

.content.show{
    display: flex;
    margin: 0 auto;
}

p {
    text-align: center;
    font-family: passionOne;
    font-size: 60px;
    color: #C6D5D0;

}


#texto h1 {
    font-family: passeroOne;
    font-size: 305px;
    color: #C6D5D0;
    -webkit-text-stroke-width: 5px;
    -webkit-text-stroke-color: #324E41;
    margin-block: 0px;
    margin: -100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: -17px;

}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.container img {
    margin-left: 10px;
    margin-right: 10px;
}

img {
    width: 300px;
    height: 300px;
}



nav ul li {
    display: inline-block;

}


body {
    margin: -10px;
    background-color: #252525;
}